<form method="POST" enctype="multipart/form-data" action="upload_files">
  <table>
    <tr>
      <td>
        Input 1 : <input type="text" name="text[]" />
      </td>
      <td>
        <input type="file" name="file0" />
      </td>
    </tr>
    <tr>
      <td>
        Input 2 : <input type="text" name="text[]" />
      </td>
      <td>
        <input type="file" name="file1" />
      </td>
    </tr>
    <tr>
      <td>
        Input 3 : <input type="text" name="text[]" />
      </td>
      <td>
        <input type="file" name="file2" />
      </td>
    </tr>
    <tr>
      <td>
        Input 4 : <input type="text" name="text[]" />
      </td>
      <td>
        <input type="file" name="file3" />
      </td>
    </tr>
  </table>
  <br>
  <br>
 Counter : <input type="text" name="counter" value=4 readonly/>
 <br>
 <br>
  <input type="submit" name="submit" />
</form>